<div class="box">
    <h2>The Daily Scripture</h2>

    <div>
        <ul>
            <li class="menu-item">
                <div class="icon">
                    <fa-icon [icon]="faHome"></fa-icon>
                </div>
                <a href="">Página Inicial</a>
            </li>
            <li class="menu-item">
                <div class="icon">
                    <fa-icon [icon]="faBookOpen"></fa-icon>
                </div>
                <a href="">Meus Planos</a>
            </li>
            <li class="menu-item">
                <div class="icon">
                    <fa-icon [icon]="faTrophy"></fa-icon>
                </div>
                <a href="">Conquistas</a>
            </li>
            <li class="menu-item">
                <div class="icon">
                    <fa-icon [icon]="faUserFriends"></fa-icon>
                </div>
                <a href="">Amigos</a>
            </li>
            <li class="menu-item">
                <div class="icon">
                    <fa-icon [icon]="faListOl"></fa-icon>
                </div>
                <a href="">Classificação</a>
            </li>
        </ul>
    </div>
</div>