.box {
    padding: 40px;

    h2 {
        margin-bottom: 30px;

        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 17px;
        line-height: 30px;

        color: #8d8a8a;
    }

    .menu-item {
        display: flex;
        margin-bottom: 18px;
        background: rgba(156, 21, 190, 0.1);
        border-radius: 50px;
        padding: 10px 25px;

        &:hover {
            background: rgba(117, 2, 146, 0.438);
            cursor: pointer;
        }

        .icon {
            padding-right: 15px;
            margin-top: auto;
            margin-bottom: auto;

            fa-icon {
                color: #9c15be;
            }
        }

        a {
            text-decoration: none; /* remover o sublinhado do link*/

            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 15px;
            line-height: 22px;
            color: #9c15be;
        }
    }
}
