.button {
    margin: 50px 131px;

    button {
      &:hover {
        cursor: pointer;
      }

      background: #07ce9e;
      box-shadow: 0px 7px 0px #05a27c;
      border-radius: 10.62px;
      color: white;
      border: 0px;
      outline-style: none;
      width: 100%;
      padding: 10px;
      font-size: 18px;
      font-weight: 600;
    }
  }