<div class="col-2">
    <form [formGroup]="formGroup">

        <div>
            <img src="../../../../assets/img/logoMarca.svg">
        </div>

        <h1>Crie sua conta no The Daily Scripture</h1>

        <app-input label="Nome" type="text" [formControlRequirements]="formGroup.controls['name']"></app-input>
        <app-input label="Email" type="email" [formControlRequirements]="formGroup.controls['email']"></app-input>
        <app-input label="Senha" type="password" [formControlRequirements]="formGroup.controls['password']"></app-input>

        <app-button text="Cadastrar" (onClick)="handleSubmit()"></app-button>

        <p class="text grey">Já possui conta? <a routerLink="/login">Fazer login</a></p>

    </form>

    <div class="purple">
        <div class="box">
            <div class="box-aspas">
                <fa-icon [icon]="faQuoteLeft"></fa-icon>
            </div>
            <div class="box-verse">
                <h2>Examinais as escrituras</h2>
                <p class="verse">porque julgais ter nelas a vida eterna, e são elas mesmas que testificam de mim.</p>
                <p class="reference">João 5:39</p>
            </div>
        </div>
    </div>
</div>