<form [formGroup]="userFormGroup" (ngSubmit)="submit()">
    <h1 class="title">{{clientOperation}} Novo Usuário</h1>

    <div class="input-form">
        <label for="name">Nome:</label>
        <input id="name" type="text" formControlName="name" placeholder="Nome">
    </div>

    <div class="input-form">
        <label for="email">Email:</label>
        <input id="email" type="text" formControlName="email" placeholder="email@email.com.br">
    </div>

    <div class="input-form">
        <label for="password">Senha:</label>
        <input id="password" type="password" formControlName="password" placeholder="Senha">
    </div>

    <app-input-chips [labels]="testes"></app-input-chips>
    <!-- <div class="input-form">
        <label for="active">Ativo:</label>
        <input id="active" type="checkbox" formControlName="active">
    </div>

    <div class="input-form">
        <label for="groups">Selecione o grupo:</label>
        <select name="groups" id="group" formControlName="group">
            <option *ngFor="let group of group_list" [value]="group" [selected]="group == this.user.group">
                {{group.name}}</option>
        </select>
    </div> -->

    <button class="primary" type="submit">
        Cadastrar
    </button>
</form>