form {
  margin-top: 3em;
}

h1 {
  &.title {
    font-size: 1.5em;
    font-weight: bold;
  }
}

.input-form {
  display: flex;
  flex-direction: column;
  label {
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-weight: 500;
  }
  input,
  select {
    border-style: solid;
    border-radius: 2em;
    height: 3em;
    padding-left: 1.5em;

    &:focus {
      box-shadow: 0 0 0 0;
      outline: 0;
      border-color: #06bd77;
    }
  }
}

button {
  margin-top: 2em;
  float: right;
  padding: 1em;
  border-style: none;
  border-radius: 2em;
  width: 12em;
  outline: 0;
  box-shadow: 0 0 0.7em #7ecaad;

  &:hover {
    cursor: pointer;
  }

  &:active {
    cursor: pointer;
    box-shadow: none;
  }
}

.primary {
  background-color: #06bd77;
  color: #ffffff;
}
