.input {
    display: flex;
    flex-direction: column;
    margin: 34px 131px;

    label {
      font-family: Montserrat;
      font-style: normal;
      font-weight: 600;
      font-size: 17px;
      line-height: 90.6%;
      color: #2c042f;
      margin-bottom: 15px;
    }

    input {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 15px 132.712px 15px 26.5424px;

      background: #f5f5f5;
      border-radius: 10.617px;
      border: 0px;
      outline-style: none;
      color: #969196;
      font-size: 16px;
    }
  }